dtd/dtd_armas.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2013 (http://www.altova.com)-->
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT imagen (#PCDATA)>
<!ELEMENT armas ((nombre, imagen))>
<!ATTLIST armas
	n (9 | 8 | 7 | 6 | 5 | 4 | 3 | 2 | 16 | 15 | 14 | 13 | 12 | 11 | 10 | 1) #REQUIRED
>
<!ELEMENT armamento ((armas+))>
