dtd/dtd_openstreetmap.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2013 (http://www.altova.com)-->
<!ELEMENT tag EMPTY>
<!ATTLIST tag
	k (wikipedia | wikidata | type | source | population:date | population | name | ine:municipio | idee:name | boundary | admin_level) #REQUIRED
	v CDATA #REQUIRED
>
<!ELEMENT relation ((member+, tag+))>
<!ATTLIST relation
	changeset CDATA #FIXED "79253588"
	id CDATA #FIXED "340902"
	timestamp CDATA #FIXED "2020-01-06T14:58:25Z"
	uid CDATA #FIXED "90780"
	user CDATA #FIXED "Verdy_p"
	version CDATA #FIXED "8"
	visible CDATA #FIXED "true"
>
<!ELEMENT osm ((relation))>
<!ATTLIST osm
	attribution CDATA #FIXED "http://www.openstreetmap.org/copyright"
	copyright CDATA #FIXED "OpenStreetMap and contributors"
	generator CDATA #FIXED "CGImap 0.8.2 (16932 thorn-01.openstreetmap.org)"
	license CDATA #FIXED "http://opendatacommons.org/licenses/odbl/1-0/"
	version CDATA #FIXED "0.6"
>
<!ELEMENT member EMPTY>
<!ATTLIST member
	ref (944657371 | 45328038 | 45328035 | 45328027 | 45326176 | 45323912 | 45315584) #REQUIRED
	role (outer | admin_centre) #REQUIRED
	type (way | node) #REQUIRED
>
