dtd/dtd_skins.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2013 (http://www.altova.com)-->
<!ELEMENT trajes ((skin+))>
<!ELEMENT temporada (#PCDATA)>
<!ELEMENT skin ((nombre, temporada, precio, imagen))>
<!ATTLIST skin
	n (9 | 8 | 7 | 6 | 5 | 4 | 30 | 3 | 29 | 28 | 27 | 26 | 25 | 24 | 23 | 22 | 21 | 20 | 2 | 19 | 18 | 17 | 16 | 15 | 14 | 13 | 12 | 11 | 10 | 1) #REQUIRED
>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT imagen (#PCDATA)>
